body {
  background-color: hsl(33, 14%, 88%);
}

#myBox {
  background-color: tan;
  width: 15rem;
  height: 10rem;
  padding: 2.5rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  text-align: left;
  margin: auto;
  border-radius: 15px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#myBox:hover {
  cursor: pointer;
}

hr {
  border: 3px hsl(0, 21%, 10%) solid;
  margin-bottom: 1rem;
}

.bildeBox {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#monsen {
  margin: auto;
  display: block;
  border: 10px black solid;
  border-radius: 5px;
  margin-bottom: 2rem;
}

button {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  background-color: rgb(76, 58, 139);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

p {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

#pacman {
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;
}

#pacman:hover {
  cursor: move;
}

@media (max-width: 450px) {
  #monsen {
    max-width: 325px;
  }
}